<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>List of Employees</h1>

    <!--<table class="table">-->
    <!--<tr>-->
    <!--<th>Emp No</th>-->
    <!--<th>First Name</th>-->
    <!--<th>Last Name</th>-->
    <!--</tr>-->

    <!--<tr th:each="employee : ${employeeList}">-->
    <!--<td><a th:href="${employee.empNo}" th:text="${employee.empNo}"></a></td>-->
    <!--<td th:text="${employee.firstName}"></td>-->
    <!--<td th:text="${employee.lastName}"></td>-->
    <!--</tr>-->

    <!--</table>-->

    <table class="table">
        <thead>
        <tr>
            <th>Emp No</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeePage.content}">
            <td><a th:href="@{'/employee/' + ${employee.empNo}}" th:text="${employee.empNo}"></a></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        </tbody>
    </table>
<!--
    <div th:if="${employeePage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==employeePage.number + 1} ? active"></a>
    </div>
-->


    <!--<nav aria-label="Search results pages" class="d-md-flex flex-wrap justify-content-center">-->
        <!--<ul class="pagination"-->
            <!--th:if="${employeePage.totalPages > 0}"-->
            <!--th:each="pageNumber : ${pageNumbers}">-->
            <!--<li class="page-item"-->
                <!--th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">-->
                <!--<a class="page-link"-->
                   <!--th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"-->
                   <!--th:text=${pageNumber}></a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->


<!--
index: the current iteration index, starting with 0 (zero)
count: the number of elements processed so far
size: the total number of elements in the list
even/odd: checks if the current iteration index is even or odd
first:  checks if the current iteration is the first one
last: checks if the current iteration is the last one
-->

<!--
<tr
  th:each="student, iStat : ${students}"
  th:style="${iStat.odd}? 'font-weight: bold;'"
  th:alt-title="${iStat.even}? 'even' : 'odd'">
    <td th:text="${student.id}" />
    <td th:text="${student.name}" />
</tr>
-->

    <!--th:if="${iStat.index < employeePage.number + 5}"-->

    <nav aria-label="Search results pages" class="d-md-flex flex-wrap justify-content-center">
        <ul class="pagination"
            th:if="${employeePage.totalPages > 0}"
            th:each="pageNumber, iStat : ${pageNumbers}">

            <li class="page-item"
                th:if="${iStat.first}"
                th:classappend="${employeePage.number==0} ? disabled : ''">
                <span class="page-link" th:if="${employeePage.number==0}">← First</span>
                <a class="page-link"
                   th:if="!${employeePage.number==0}"
                   th:href="@{/employee(size=${employeePage.size}, page=1)}">← First</a>
            </li>

            <li class="page-item"
                th:if="${iStat.count==1}"
                th:classappend="${employeePage.number==0} ? disabled : ''">
                <span class="page-link" th:if="${employeePage.number==0}">«</span>
                <a class="page-link"
                   th:if="!${employeePage.number==0}"
                   th:href="@{/employee(size=${employeePage.size}, page=${employeePage.number})}">«</a>
            </li>

            <!--Cia viekiantis bet skaiciuoja visus-->
<!--
            <li class="page-item"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>
-->



            <li class="page-item"
                th:if="${pageNumber==employeePage.number - 1}"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>


            <li class="page-item"
                th:if="${pageNumber==employeePage.number}"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>



            <li class="page-item"
                th:if="${pageNumber==employeePage.number + 1}"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>

            <li class="page-item"
                th:if="${pageNumber==employeePage.number + 2}"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>

            <li class="page-item"
                th:if="${pageNumber==employeePage.number + 3}"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                <a class="page-link"
                   th:if="${pageNumber!=employeePage.number + 1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>



            <!--
                        <li class="page-item"
                            th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                            <span class="page-link" th:if="${pageNumber==employeePage.number + 1}" th:text=${pageNumber}></span>
                            <a class="page-link"
                               th:if="${pageNumber!=employeePage.number + 1}"
                               th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                               th:text=${pageNumber}></a>
                        </li>
            -->

            <li class="page-item"
                th:if="${iStat.count==employeePage.totalPages}"
                th:classappend="${employeePage.number==employeePage.totalPages-1} ? disabled : ''">
                <span class="page-link" th:if="${employeePage.number==employeePage.totalPages-1}">»</span>
                <a class="page-link"
                   th:if="!${employeePage.number==employeePage.totalPages-1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${employeePage.number+2})}">»</a>
            </li>

            <li class="page-item"
                th:if="${iStat.last}"
                th:classappend="${employeePage.number==employeePage.totalPages-1} ? disabled : ''">
                <span class="page-link" th:if="${employeePage.number==employeePage.totalPages-1}">Last →</span>
                <a class="page-link"
                   th:if="!${employeePage.number==employeePage.totalPages-1}"
                   th:href="@{/employee(size=${employeePage.size}, page=${employeePage.totalPages})}">Last →</a>
            </li>

        </ul>
    </nav>
<!--

    <div class="col-sm-7">
        &lt;!&ndash; Pagination Bar &ndash;&gt;
        <div th:fragment='paginationbar'>
            <div class="text-center">
                <ul class='pagination pagination-centered'>
                    <li th:class="${page.firstPage}?'disabled':''">
                        <span th:if='${page.firstPage}'>← First</span>
                        <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>←
                            First</a>
                    </li>
                    <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                        <span th:if='${not page.hasPreviousPage}'>«</span>
                        <a th:if='${page.hasPreviousPage}'
                           th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
                           title='Go to previous page'>«</a>
                    </li>
                    <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                        <span th:if='${item.current}' th:text='${item.number}'>1</span>
                        <a th:if='${not item.current}'
                           th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
                                th:text='${item.number}'>1</span></a>
                    </li>
                    <li th:class="${page.hasNextPage}? '' : 'disabled'">
                        <span th:if='${not page.hasNextPage}'>»</span>
                        <a th:if='${page.hasNextPage}'
                           th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                           title='Go to next page'>»</a>
                    </li>
                    <li th:class="${page.lastPage}? 'disabled' : ''">
                        <span th:if='${page.lastPage}'>Last →</span>
                        <a th:if='${not page.lastPage}'
                           th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

-->


    <!--<div class="pagination-div">-->
    <!--<span th:if="${employeePage.hasPrevious()}">-->
        <!--<a th:href="@{/employee(page=${employeePage.number-1},size=${employeePage.size})}">Previous</a>-->
    <!--</span>-->
        <!--<th:block th:each="i: ${#numbers.sequence(0, employeePage.totalPages - 1)}">-->
            <!--<span th:if="${employeePage.number == i}" class="selected">[[${i}+1]]</span>-->
            <!--<span th:unless="${employeePage.number == i}">-->
             <!--<a th:href="@{/employee(page=${i},size=${employeePage.size})}">[[${i}+1]]</a>-->
        <!--</span>-->
        <!--</th:block>-->
        <!--<span th:if="${employeePage.hasNext()}">-->
        <!--<a th:href="@{/employee(page=${employeePage.number+1},size=${employeePage.size})}">Next</a>-->
    <!--</span>-->
    <!--</div>-->


</div>
</body>
</html>