<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>List of Employees</h1>

    <!--<table class="table">-->
    <!--<tr>-->
    <!--<th>Emp No</th>-->
    <!--<th>First Name</th>-->
    <!--<th>Last Name</th>-->
    <!--</tr>-->

    <!--<tr th:each="employee : ${employeeList}">-->
    <!--<td><a th:href="${employee.empNo}" th:text="${employee.empNo}"></a></td>-->
    <!--<td th:text="${employee.firstName}"></td>-->
    <!--<td th:text="${employee.lastName}"></td>-->
    <!--</tr>-->

    <!--</table>-->

    <table class="table">
        <thead>
        <tr>
            <th>Emp No</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeePage.content}">
            <td><a th:href="@{'/employee/' + ${employee.empNo}}" th:text="${employee.empNo}"></a></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        </tbody>
    </table>
<!--
    <div th:if="${employeePage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==employeePage.number + 1} ? active"></a>
    </div>
-->


    <nav aria-label="Search results pages" class="d-md-flex justify-content-center">
        <ul class="pagination"
            th:if="${employeePage.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}">
            <li class="page-item"
                th:classappend="${pageNumber==employeePage.number + 1} ? active : ''">
                <a class="page-link"
                   th:href="@{/employee(size=${employeePage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}></a>
            </li>
        </ul>
    </nav>


</div>
</body>
</html>